
@{
    ViewBag.Title = "Postproject";
    Layout = "~/Views/shared/Common_Manager_Layout.cshtml";
}
<style>
    .txt1 {
        border-radius: 30px;
        height: 55px;
    }

        .txt1:hover {
            border: 3px solid #E0E0E0;
        }

    .txt2 {
        border-radius: 30px;
    }

        .txt2:hover {
            border: 2px solid #E0E0E0;
        }

    .feed {
        background-color: #E3C3E9;
        border-radius: 15px;
        border: 2px solid #8B4E96;
    }

    .btn {
        height: 45px;
        width: 150px;
        border-radius: 30px;
        transition: all 0.5s ease-in-out;
    }

        .btn:hover {
            color: white;
            transform: scale(0.9);
        }
        .err{
            color:red;
        }
</style>
 <!--<script>
    $(document).ready(function () {
        $("#btns").click(function () {
            var title, desc, file,date, res = true;
            //Reading values of all control
            title = $("#ttext").val().trim();
            desc = $("#tdesc").val().trim();
            file = $("#tfile").val().trim();
            date = $("#tdate").vla().trim();
            //clear old error
            $(".err").remove();
            //Validate title
            if (title.length == 0) {
                $("#ttext").after("<span class='err'>Please enter title.</span>");
                res = false;
            }
            else if (title.length < 4) {
                $("#ttext").after("<span class='err'>Title must be contain minimum 4 character.</span>");
                res = false;
            }
            //Validate Description
            if (desc.length == 0) {
                $("#tdesc").after("<span class='err'>Please write description.</span>");
                res = false;
            }
            else if (title.length < 10) {
                $("#tdesc").after("<span class='err'>Description must be contain minimum 10 character.</span>");
                res = false;
            }
           
            //validate date
            if (date.length == 0) {

                $("#tdate").after("<span class='err'>Please enter date.</span>");
                res = false;
            }
            return res;
        });
    });
</script>-->


<div class="row mb-5">



    <div class="col-md-6">
        <img src="~/content/images/upload1.png" min-height="600px" width="100%" />
    </div>
    <div class="col-sm-1"></div>
    <div class="col-md-4  mt-5 mb-6 feed">
        <h2 class="card-header text-primary text-center">Post Project</h2>
        <hr />
        <h6 class="text-danger text-center">@ViewBag.message</h6>

        <form action="/Manager/Postproject" method="post" enctype="multipart/form-data">
            <div class="mb-3">
                <label for="Title" class="form-label">Title</label>
                <input type="text" class="form-control txt1" required placeholder="Title of the project" name="Title">
            </div>
            <div class="mb-3">
                <label for="deadline" class="form-label">Deadline</label>
                <input type="date" required class="form-control txt1" name="Deadline">
            </div>
            <div class="mb-3">
                <label for="Descripition" class="form-label">Descripition</label>
                <textarea class="form-control txt2" required name="Descripition" rows="3" placeholder="Description of upload"></textarea>
            </div>
            <div class="mb-3">
                <label for="uploadfile" class="form-label">Upload File</label>
                <input type="file" reqired class="form-control txt1 pt-3" name="ProjectFile" />
            </div>
            <input type="submit" id="btns" value="Upload" class="btn btn-primary mt-2 mb-3 upbtn" />
        </form>
    </div>
    <div class="col-sm-1"></div>
</div>


