
@{
    ViewBag.Title = "AboutUs";
    Layout = "~/Views/shared/common_gen_layout.cshtml";
}
<link href="~/content/Css/aboutUs.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
      crossorigin="anonymous" referrerpolicy="no-referrer" />
<div class="container-fluid">
    <div class="row mt-5">
        <div class="col-sm-1"></div>
        <div class="col-md-5 ml-5">
            <br />
            <span>
                <h1>Welcome to Work<span style="color:#3B71CA; ">TechHub</span></h1>
                <h4>Our Ultimate Destination for Seamless Project and Task Submission.</h4><br />
                <p class="textcontent" style="font-size:18px;">
                    WorkTechHub is a web portal which is very helpful for Our Company to manage the ongoing
                    project, to upload daily task for developer, to view and upload the code and to know the work
                    report of developers. So, WorkTechHub is very helpful for developer and manager who needs each
                    other. This portal will help to reduce communication gap between developer and manager and
                    it will ensure that the project moves in the right direction and within the defined scope
                </p>
            </span>
            <div>
                <a href="/General/LogIn"><input type="button" value="Get in" id="cont" /></a>
            </div>
        </div>
        <div class="col-md-6">
            <img src="~/content/images/wel-removebg-preview.png" height="100%;" width="100%;">
        </div>
    </div><br />
    <!--About portion start-->
    <div class="row mt-5">
        <div class="col-sm-1"></div>
        <div class="col-md-5 ">
            <img src="~/content/images/think1.png " height="100%;" width="100%;" />
        </div>
        <div class="col-md-6 pt-5">
            <span>
                <h1>About Work<span style="color: #3B71CA;">TechHub</span></h1>
                <p class="textcontent pt-3" style="font-size:18px;">
                    At WorkTechHub, we believe that software development is not just about lines of code; 
                    it's about collaboration, innovation, and empowering the brilliant minds that make it
                    all happen—your employees. We are your dedicated partner in creating a seamless, efficient, 
                    and collaborative environment for your software company's workforce.we are committed to
                    simplifying the process of project and task submission,
                    making it a breeze for software developers and employees alike. We understand that efficient
                    project management is the cornerstone of our company's success, and we're here to ensure that
                    we can streamline this crucial aspect of our operations.we understand that efficient project and
                    task management are essential for the success of any organization. Whether we're a small startup or a large corporation,
                    our platform is designed to simplify the process, save oru time, and boost productivity.
                </p>
            </span>
        </div>
    </div><br /><br /><br /><br />
    <!--About portion end-->
    <!--Mission portion start -->
    <div class="row">
        <div class="col-sm-1 mt-5"></div>
        <div class="col-sm-5 ">
            <h1 style="color:#3B71CA;"> Our Mission</h1>
            <h3 style="color:#0B0A33;" >Our mission is to turn managed <br />IT services into a fine art</h3><br />
            <p class="textcontent" style="font-size:18px; text-align:justify;">
                Our mission at WorkTechHub is clear - to provide you with an intuitive user-friendly platform that empowers our employees
                to submit projects and tasks effortlessly. We aim to bridge the gap between managers and team members, makingcollaboration
                and communication smoother than ever before.Our mission is simple  yet powerful: to provide an all-encompassing platform that
                transforms the way our software developers and employees interact  with project submission, while also serving as a
                knowledge hub for the latest project-related information.
            </p>
        </div>
        <div class="col-sm-6 a ">
            <img src="~/content/images/mission4.png" height="100%" width="100%" />
        </div>
    </div><br /><br />
    <!--Mission portion end -->
    <!--Key Feature start -->
    <div class="row">

        <div class="col-md-6">
            <img src="~/content/images/technology-web-services.svg" height="100%;" width="100%" />
        </div>
        <div class="col-sm-6">
            <span>
                <p>
                    <h1 class="text-primary">Key Features</h1>

                    <h4>Project Submission:</h4>
                <p class="textcontent keyfe">Employees can easily submit project proposals, complete with details, goals, and timelines. This ensures that all ideas are captured and evaluated.</p>

                <h4> Project Dashboard:</h4><p class="textcontent keyfe"> Project managers get a bird's-eye view of ongoing projects, making it easy to track progress, assign tasks, and allocate resources efficiently.</p>

                <h4> Real-time Communication:</h4><p class="textcontent keyfe">  Our chat and messaging tools keep everyone connected, making it simple to discuss project updates, share documents, and provide feedback instantly.</p>

                <h4>Data Analytics:</h4><p class="textcontent keyfe"> Dive into project data with our analytics tools. Gain insights into project performance, identify bottlenecks, and make data-driven decisions for continuous improvement.</p>

                <h4>Security and Privacy:</h4><p class="textcontent keyfe">  We take data security seriously. Your information is protected with state-of-the-art security measures to ensure confidentiality and peace of mind.</p>
                </p>
            </span>
        </div>
    </div>
    <!--Key Feature end -->
    <div class="row  mt-5" style="margin-bottom:110px;" >
        <div class="col-sm-1"></div>
        <div class="col-sm-6 " id="question">
            <br /><br />
            <h2 style="color:#FFF">Have questions or any query? Our dedicated <span style="color:#3B71CA;">support team is here</span> to help you every step of the way. </h2><br /><br /><br />
            <a href="/General/Contact"><input type="button" value="Contact Us" id="cont" /></a>
        </div>
        <div class="col-sm-4" id="questionimg" style="background-color: #5E5E5E; ">
            <img src="~/content/images/quest.svg" height="100%;" width="100%;" />
        </div>
        <div class="col-sm-1"></div>
    </div>
<hr />
    
</div>

