
@{
    ViewBag.Title = "myintro";
    Layout = "~/Views/shared/common_gen_layout.cshtml";
}


<div class="row mt-5">
    <div class="col-sm-1"></div>
    <div class="col-sm-10">
        <div class="row bg-primary">
            <div class="col-sm-8">
                <p class=" p-3 h3 text-center" style="color:#fff;"> Kamadgiri Software Solutions Pvt. Ltd</p>
            </div>
            <div class="col-sm-2">
                <img src="~/content/images/ksslogonew.png" width="100%" class="pt-2 pb-2 bg-primary" />
            </div>
            <div class="col-sm-2"></div>
        </div>
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4 text-center mt-3 mb-4">
                <img src="~/content/images/myimg.jpeg" style="height:150px;width:150px;border:1px solid black;border-radius:50%" />
            </div>
            <div class="col-sm-4"></div>
        </div>
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
                <div class="row">
                    <div class="col-sm-3"></div>
                    <div class="col-sm-3 h4 text-bold">Name:</div>
                    <div class="col-sm-3 h5 text-bold text-primary">Amit Kumar Yadav</div>
                    <div class="col-sm-3"></div>
                </div>

                <div class="row">
                    <div class="col-sm-3"></div>
                    <div class="col-sm-3 h4 text-bold">College name:</div>
                    <div class="col-sm-3 h5 text-bold text-primary">Govt. Polytechnic Jaunpur</div>
                    <div class="col-sm-3"></div>
                </div>

                <div class="row">
                    <div class="col-sm-3"></div>
                    <div class="col-sm-3 h4 text-bold">Mobile No:</div>
                    <div class="col-sm-3 h5 text-bold text-primary">+91-9569683207</div>
                    <div class="col-sm-3"></div>
                </div>

                <div class="row">
                    <div class="col-sm-3"></div>
                    <div class="col-sm-3 h4 text-bold">Email Id:</div>
                    <div class="col-sm-3 h5 text-bold text-primary">amit974403727250@gmail.com</div>
                    <div class="col-sm-3"></div>
                </div>
                <div class="row">
                    <div class="col-sm-3"></div>
                    <div class="col-sm-3 h4 text-bold">Description:</div>
                    <div class="col-sm-3 h6 text-bold text-primary">I worked in this project name techwork. Which is related to a techwork in an software industry between Employees and project manager.</div>
                    <div class="col-sm-3"></div>
                </div>
            </div>
            <div class="col-sm-2"></div>
        </div>
    </div>
    <div class="col-sm-1"></div>
</div>

