
@{
    ViewBag.Title = "UploadCode";
    Layout = "~/Views/shared/Common_Developer_Layput.cshtml";
}

<style>
    .uptxt1 {
        border-radius: 30px;
        height: 55px;
    }

        .uptxt1:hover {
            border: 3px solid #E0E0E0;
        }

    .uptxt2 {
        border-radius: 30px;
    }

        .uptxt2:hover {
            border: 3px solid #E0E0E0;
        }

    .uploadfeed {
        background-color: #E3C3E9;
        border-radius: 15px;
        border: 2px solid #8B4E96;
        height: 550px;
    }

    .upbtn {
        height: 45px;
        width: 150px;
        border-radius: 30px;
        transition: all 0.5s ease-in-out;
    }

        .upbtn:hover {
            color: white;
            transform: scale(0.9);
        }
        .err{
            color:red;
        }
</style>
<script>
    $(document).ready(function () {
        $("#btnsubmit").click(function () {
            var title, desc, file, res = true;
            //Reading values of all control
            title = $("#ttext").val().trim();
            desc = $("#tdesc").val().trim();
            file = $("#tfile").val().trim();
            //clear old error
            $(".err").remove();
            //Validate title
            if (title.length == 0) {
                $("#ttext").after("<span class='err'>Please enter title.</span>");
                res = false;
            }
            else if (title.length < 4) {
                $("#ttext").after("<span class='err'>Title must be contain minimum 4 character.</span>");
                res = false;
            }
            //Validate Description
            if (desc.length == 0) {
                $("#tdesc").after("<span class='err'>Please write description.</span>");
                res = false;
            }
            else if (title.length < 10) {
                $("#tdesc").after("<span class='err'>Description must be contain minimum 10 character.</span>");
                res = false;
            }
            //validate file
            if (file.length==0) {
                
                    $("#tfile").after("<span class='err'>Please choose a valid file.</span>");
                    res = false;
                }
            return res;
        });
    });
</script>

<div class="row mb-5">
    <div class="col-md-6">
        <img src="~/content/images/upload1.png" min-height="630px" width="100%" />
    </div>
    <div class="col-sm-1"></div>
    <div class="col-md-4  mt-5 mb-6 uploadfeed">
        <h2 class="card-header text-primary text-center">Upload code</h2>
        <hr />
        <h6 style="color: #B71C1C; text-align:center;">@ViewBag.message</h6>

        <form action="/Developer/UploadCode" method="post" enctype="multipart/form-data">
            <div class="mb-3">
                <label for="Title" class="form-label">Title</label>
                <input type="text" class="form-control uptxt1" id="ttext" placeholder="Title of the project" name="Title">
            </div>
            <div class="mb-3">
                <label for="Descripition" class="form-label">Descripition</label>
                <textarea class="form-control uptxt2" id="tdesc"  name="Descripition" rows="3" placeholder="Description of upload"></textarea>
            </div>
            <div class="mb-3">
                <label for="upload code" class="form-label">Upload Code Here</label>
                <input type="file" id="tfile" class="form-control uptxt1 pt-3" name="CodeFileName" />
            </div>
            <input type="submit" value="Upload" id="btnsubmit" class="btn btn-primary mt-2 mb-3 upbtn" />
        </form>
    </div>
    <div class="col-sm-1"></div>
</div>




