
@{
    ViewBag.Title = "Welcome";
    Layout = "~/Views/shared/Common_Developer_Layput.cshtml";
}

<style>
    .row1:hover{
      transform:scale(1.1);
    }
    .box1{
        transition:0.5s all ease-out;
    }
    .box1:hover{
        transform:scale(1.1);
        
    }
</style>

<div class="row" style="min-height:600px;">
    <div class="col-sm-1"></div>
    <div class="col-sm-10" style="background-color:; padding-top: 25px; padding-bottom: 25px;">
        <div class="row">
            <div class="col-sm-4 box1">
                <div class="row" style="margin-top: 10px; height: 200px; ">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-9 text-center" style="padding-top: 30px; padding-bottom: 10px; background-color: #E1BEE7; border-radius: 20px; ">
                        <a href="/Developer/Feedback" class="fa-regular fa-comment myiconx" style=" font-size:100px; text-decoration:none;" title="Feedback"></a><br />
                        <span style="font-size:20px;">Feedback</span>
                    </div>
                    <div class="col-sm-1"></div>
                </div>
            </div>
            <div class="col-sm-4 box1">
                <div class="row" style="margin-top:10px; height:200px;">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-9 text-center" style="padding-top: 30px; padding-bottom: 10px; background-color: #E1BEE7; border-radius: 20px; ">
                        <a href="/Developer/MyProjects" class="fa-solid fa-diagram-project" style=" font-size:100px; text-decoration:none;" title="My project"></a><br />
                        <span style="font-size:20px;">My Project</span>
                    </div>
                    <div class="col-sm-1"></div>
                </div>
            </div>
            <div class="col-sm-4 box1">
                <div class="row" style="margin-top: 10px; height: 200px;">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-9 text-center" style="padding-top: 30px; padding-bottom: 10px; background-color: #E1BEE7; border-radius: 20px; ">
                        <a href="/Developer/UploadCode" class="fa-solid fa-arrow-up-from-bracket" style=" font-size:100px; text-decoration:none;" title="Upload code"></a><br />
                        <span style="font-size:20px;">Upload Code</span>
                    </div>
                    <div class="col-sm-1"></div>
                </div>
            </div>
        </div>
        <!--Srtarting second row-->
        <div class="row " style="margin-top:90px;">
            <div class="col-sm-4 box1 ">
                <div class="row" style="margin-top: 10px; height: 200px;">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-9 text-center" style="padding-top: 30px; padding-bottom: 10px; background-color: #E1BEE7; border-radius: 20px; ">
                        <a href="/Developer/TodayTask" class="fa-solid fa-list-check" style=" font-size:100px; text-decoration:none;" title="Task"></a><br />
                        <span style="font-size:20px;">Task</span>
                    </div>
                    <div class="col-sm-1"></div>
                </div>
            </div>
            <div class="col-sm-4 box1">
                <div class="row" style="margin-top: 10px; height: 200px;">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-9 text-center" style="padding-top: 30px; padding-bottom: 10px; background-color: #E1BEE7; border-radius: 20px; ">
                        <a href="/Developer/ChangePass" class="fa-solid fa-key " style=" font-size:100px; text-decoration:none;" title="change Pasword"></a><br />
                        <span style="font-size:20px;">Change Password</span>
                    </div>
                    <div class="col-sm-1"></div>
                </div>
            </div>
            <div class="col-sm-4 box1">
                <div class="row" style="margin-top: 10px; height: 200px;">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-9 text-center" style="padding-top: 30px; padding-bottom: 10px; background-color: #E1BEE7; border-radius: 20px; ">
                        <a href="/Developer/MyProfile" class="fa-solid fa-address-card " style=" font-size:100px; text-decoration:none;" title="My Profile"></a><br />
                        <span style="font-size:20px;">My Profile</span>
                    </div>
                    <div class="col-sm-1"></div>
                </div>
            </div>
        </div>
        <!--Srtarting third row-->
    
    </div>
    <div class="col-sm-1"></div>
</div>